---
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1>svhのサンプル</h1>

  </div>
</Layout>


<style lang="scss">
  .container {
    height: 100svh;
  }
</style>
