---
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <p class="scroll">Scroll</p>

    <div class="vhs">
      <p class="vh-item _vh">100vh</p>
      <p class="vh-item _svh">100svh</p>
      <p class="vh-item _lvh">100lvh</p>
      <p class="vh-item _dvh">100dvh</p>
      <p class="vh-item _var">--vh</p>
    </div>

    <div class="content"></div>
  </div>
</Layout>

<style lang="scss">
  .content {
    height: 400vh;
  }

  .scroll {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 16px;
    z-index: 100;
    text-transform: uppercase;
  }

  .vhs {
    position: fixed;
    inset: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding-inline: 10px;
  }

  .vh-item {
    position: relative;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 10px;
      background-color: #333;
      color: #fff;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  /* デモ */

  ._vh {
    background-color: #f0f0f0;
    height: 100vh;
  }

  ._svh {
    background-color: #f0f0f0;
    height: 100svh;
  }

  ._lvh {
    background-color: #f0f0f0;
    height: 100lvh;
  }

  ._dvh {
    background-color: #f0f0f0;
    height: 100dvh;
  }

  ._var {
    background-color: #f0f0f0;
    height: calc(var(--vh) * 100);
  }
</style>

<script>
  import { debounce } from "../../../scripts/debounce.js";

  const updateCssViewportUnits = () => {
    const vh = window.innerHeight * 0.01;

    document.documentElement.style.setProperty("--vh", `${vh}px`);
  };

  const setCssViewportUnits = () => {
    updateCssViewportUnits();
    const debouncedResize = debounce(100, updateCssViewportUnits);
    window.addEventListener("resize", debouncedResize);
  };

  setCssViewportUnits();
</script>
