---
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <div class="vws">
      <p class="vw-item _vw">100vw</p>
      <p class="vw-item _svw">100svw</p>
      <p class="vw-item _lvw">100lvw</p>
      <p class="vw-item _dvw">100dvw</p>
      <p class="vw-item _var">--vw</p>
    </div>
  </div>
</Layout>

<style lang="scss">
  .container {
    height: 100%;
  }

  .vws {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: center;
  }

  .vw-item {
    position: relative;
    padding: 20px;
    font-size: 12px;
    text-align: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10px;
      background-color: #333;
      color: #fff;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  ._vw {
    background-color: #f0f0f0;
    width: 100vw;
  }

  ._svw {
    background-color: #f0f0f0;
    width: 100svw;
  }

  ._lvw {
    background-color: #f0f0f0;
    width: 100lvw;
  }

  ._dvw {
    background-color: #f0f0f0;
    width: 100dvw;
  }

  ._var {
    background-color: #f0f0f0;
    width: calc(var(--vw) * 100);
  }
</style>

<script>
  import { debounce } from "../../../scripts/debounce.js";

  const updateCssViewportUnits = () => {
    const vw = window.innerWidth * 0.01;

    document.documentElement.style.setProperty("--vw", `${vw}px`);

    console.log(vw);
  };

  const setCssViewportUnits = () => {
    updateCssViewportUnits();
    const debouncedResize = debounce(100, updateCssViewportUnits);
    window.addEventListener("resize", debouncedResize);
  };

  setCssViewportUnits();
</script>
